@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

/* Light Theme */
@plugin "daisyui/theme" {
  name: "silk";
  default: true;

  --color-primary: #FFF1AD;
  --color-secondary: #343434;
}

/* Dark Theme */
@plugin "daisyui/theme" {
  name: "dark";

  --color-primary: #6366f1;
  --color-secondary: #14b8a6;
}


@layer base {

  html,
  body,
  :root {
    font-family: "Baloo Da 2", sans-serif !important;
  }
}

.logoText {
  font-family: "Caesar Dressing", system-ui;
}