@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";


@layer base {
  html,
  body,
  :root {
    font-family: "Baloo Da 2", sans-serif !important;
  }
}

.logoText {
  font-family: "Caesar Dressing", system-ui;
}